include examples/foo.bib examples/foo.bibtexml examples/foo.yaml examples/foo.tex
include COPYING CHANGES
include pybtex/docgen/template.html
recursive-include docs/html *.html *.css
recursive-include docs/rst *.rst *.css
recursive-include docs/man1 *.1
recursive-include pybtex/tests *.yaml
